body {
  background-color: #e4ebfa;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #f4f7fd;
}

/* Logo within Sidebar Styling */
.sidebar img {
  max-width: 70%;
  height: auto;
  padding: 20px;
}

.sidebar h4 {
  font-size: 10px;
  color: #828fa3;
  margin-left: 22px;
  letter-spacing: 2.5px;
}

.sidebar button {
  background-color: #635fc7;
  color: #ffffff;
  border: none;
  padding: 12px 20px 12px 0;
  border-radius: 0 50px 50px 0;
  font-size: 12px;
  width: 90%;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #a8a4ff;
}

/* Responsive to hide sidebar on mobile screens */
@media (max-width: 426px) {
  .sidebar {
    display: none;
  }
}

/* Header Styling */
.header {
  display: flex;
  justify-content: start;
  background-color: #ffffff;
  width: 100%;
}

/* Main Content Area Styling */
main {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.column-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.column-heading h4 {
  font-size: 10px;
  color: #828fa3;
  margin-bottom: 20px;
  font-size: 12px;
}

#blue-column-dot {
  width: 12px;
  height: 12px;
  background-color: #49c4e5;
  border-radius: 50%;
  font-weight: lighter;
}

#purple-column-dot {
  width: 12px;
  height: 12px;
  background-color: #8471f2;
  border-radius: 50%;
  font-weight: lighter;
}

#green-column-dot {
  width: 12px;
  height: 12px;
  background-color: #63f7c8;
  border-radius: 50%;
  font-weight: lighter;
}

.task-card {
  background-color: #ffffff;
  font-weight: bolder;
  padding: 15px;
  padding-right: 90px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #364e7e1a;
}

/* Horizontal to Vertical Flex for Columns on Mobile */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
