body {
  background-color: #e4ebfa;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  background-color: #ffffff;
}

/* Logo within Sidebar Styling */
.sidebar img {
  max-width: 100%;
  height: auto;
}

.sidebar h4 {
  font-size: 10px;
  color: #828fa3;
  margin-bottom: 20px;
}

.sidebar button {
  background-color: #635fc7;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 24px;
  border-right: 0%;
  font-size: 14px;
  border-radius: 0 50px 50px 0;
}

/* Responsive to hide sidebar on mobile screens */
@media (max-width: 426px) {
  .sidebar {
    display: none;
  }
}

/* Header Styling */
.header {
  display: flex;
  justify-content: start;
  background-color: #ffffff;
  width: 100%;
}
